<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default forum">
                <div class="panel-heading forum-heading">
                    <h4 class="panel-title forum-heading-text">
                        POST TITLE
                        <span class="pull-right add-new-post">
                            <button (click)="openAdd()" class="btn btn-primary">
                                Add New Post
                            </button>
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <div *ngIf="adding">
                        <form role="form-inline" (ngSubmit)="f.form.valid && addPost()" #f="ngForm" novalidate>
                            <div class="form-group">
                                <label class="sr-only" for="title">New Post</label>
                                <input type="text" class="form-control" name="content" [(ngModel)]="newPost.title" #content="ngModel" placeholder="enter new post title"
                                    required>
                            </div>
                            <select id="Id" #Id="ngModel" class="hideLabel form-control" [(ngModel)]="newPost.categoryId" name="Id">
                                <option selected="true" value="">Select Category</option>
                                <option [ngValue]="category.id" *ngFor="let category of categories">
                                    {{ category.name }}
                                </option>
                            </select>
                            <button type="submit" class="btn btn-primary">Add Post</button>
                        </form>
                    </div>
                    <post-card *ngFor="let post of posts" [post]=post></post-card>
                </div>
            </div>
        </div>
    </div>
</div>