.logo {
    background-color: #172F6F;
    padding: 2.2rem;
    height: 100%;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #C4E6E4;
}

.logo:hover {
    background-color: #FFF;
    color: #172F6F;
}

.main-nav {
    background-color: #3E6ECD;
}
