/* navbar */
.logo {
  background-color: #172F6F;
  padding: 1%;
  height: 100%;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #C4E6E4;
}

.logo:hover {
  background-color: #C4E6E4;
  color: #172F6F;
}

.main-nav {
  background-color: #3E6ECD;
}

@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
      padding-top: 80px;
  }
}

.body-content {
  padding-top: 100px;
  background: linear-gradient(to right, rgba(209, 146, 185, 0.9), rgb(187, 198, 228));
}

li .glyphicon {
  margin-right: 10px;
}


/* Highlighting rules for nav menu items */

li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: #F0F0F0;
  color: white;
}
