
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default forum">
                <div class="panel-heading forum-heading">
                    <h4 class="panel-title forum-heading-text">POST TITLE</h4>
                </div>
                <div class="panel-body">
                    <div class="row card">
                        <div class="col-md-8 col-sm-8">
                            <p class="post-title">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur temporibus quae eius non distinctio architecto asperiores quasi! Dignissimos, in veniam.
                            </p>
                            <p>created by <span class="post-author">@codeprefect</span></p>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="last-comment">
                                <p>last comment: <span
                                class="last-comment-time">22/04/2017,
                                15: 00</span></p>
                                <p>by <span class="last-comment-author">@mubarakadeimam</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
