<div class="row card">
    <div class="col-md-8 col-sm-8">
        <a [routerLink]="['/post/', post.id]">
            <p class="post-title">
                {{ post.title }}
            </p>
        </a>
        <p>created <span class="post-created">{{ post.createdDate | amTimeAgo }}</span> by <span class="post-author">{{ post.user }}</span></p>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="last-comment">
            <p>last comment: <span class="last-comment-time">{{
            post.lastCommentAt | amTimeAgo }}</span></p>
            <p>by <span class="last-comment-author">@{{ post.lastCommentBy }}</span></p>
        </div>
        <p>Category: <span class="post-category">{{ post.category }}</span></p>
    </div>
</div>
