
.card {
    padding: 10px;
    background-color: ivory;
    margin-bottom: 10px;
}

.last-comment {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #CECD11;
}

.comments-list {
    background-color: rgb(214, 224, 226);
    padding: 10px;
}
