@inherits BlazorLayoutComponent
<div class="container">
    <div class="row">
        <div class="col">
            <NavMenu />
        </div>
    </div>

    <div class="row body-content">
        <!-- <Alert /> -->
        @Body
    </div>
</div>
