@page "/"
@inject IAlertService alertService

<h1>Hello, world!</h1>
Welcome to your new app.

<div class="row">
  <button type="button" class="btn btn-danger" onclick=@showError>Error</button>
  <button type="button" class="btn btn-success" onclick=@showSuccess>Success</button>
  <button type="button" class="btn btn-warning" onclick=@showWarning>Warning</button>


  <p class="navbar-text pull-right">
    <a href="/counter" class="navbar-link">Links</a>
  </p>
</div>

@functions {
  void showError() => alertService.Error("This is an error", true);
  void showSuccess() => alertService.Success("This is a success");
  void showWarning() => alertService.Warning("This is a warning", true);
}
